git+https://github.com/wazo-pbx/xivo-agentd-client.git
git+https://github.com/wazo-pbx/xivo-auth-client.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
pyyaml==3.11  # from xivo-lib-python
requests==2.4.3  # from xivo-*-client
stevedore==0.14.1  # from xivo-lib-rest-client
